* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  /*background-image: url(images/3.JPG);
  background-repeat: no-repeat;
  background-size: cover;*/
}

.arrow {
  width: 30px;
}
h1 {
  text-align: center;
  padding: 60px 0 0 0;
  font-family: "Over the Rainbow";
  font-size: 80px;
  color: #0a0c6c;
  text-shadow: 5px 5px 10px rgb(77, 54, 33);
}

h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 60px;
  /* identical to box height, or 143% */

  color: #343434;
}

p {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 400;
  line-height: 33px;
}

.main__wrapper {
  width: 100%;
  overflow: hidden;
}

.slider__item {
  padding-right: 60px;
  /* margin-right: 30px; */
}

.avatar__wrapper {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.avatar__name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142%;
  padding-left: 20px;
  /* identical to box height, or 23px */

  color: #343434;
}
.avatar__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142%;
  /* or 23px */
  padding-top: 30px;
  color: #707070;
}

.title__screen {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-image: url(./images/title-photo.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: auto 100vh;
}

.title__screen-online {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  background-image: url(./images/2holl.JPG);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.text__online {
  text-align: justify;
  max-width: 1200px;
  margin: 0 auto;
  color: dimgray;
}

.header {
  width: 100%;
  background: transparent;
}

.header-online {
  width: 100%;
  height: 80px;
  background: #ffffff;
}
.header__container {
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

.header__container-online {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0a0c6c;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item,
.nav-item__footer {
  margin-left: 2vw;
}

.nav-link {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 400;
  color: #0a0c6c;
  transition: 0.3s;
}

.nav-link:hover {
  text-shadow: 3px 3px 3px #323381;
  transition: 0.3s;
}

.nav-logo {
  padding-left: 15px;
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  padding-left: 15px;
  font-size: clamp(16px, 2vw, 24px);

  list-style: none;
}

a {
  text-decoration: none;
}

.social {
  padding: 0 20px;
}

#online {
  margin-top: 20px;
  display: inline;
  color: dimgray;
  font-size: 18px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
}

#online:hover {
  color: #0a0c6c;
  transition: 0.3s;
}

#readmore {
  display: inline;
  margin-top: 20px;
  color: dimgray;
  font-size: 18px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
#readmore:hover {
  color: #0a0c6c;
  transition: 0.3s;
}

#hiddentext {
  display: none;
}

#hide {
  display: none;
  color: dimgray;
  font-size: 18px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#hide:hover {
  color: #0a0c6c;
  transition: 0.3s;
}

.btn {
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
}
.btn:hover {
  transform: scale(1.2);
}

.social__icon {
  width: 35px;
  margin: 5px;
  transition: 0.1s;
}
.social__icon:hover {
  transform: scale(1.2);
  transition: 0.1s;
}

.title {
  color: #414a58;
}

.title__img {
  width: auto;
  height: 100vmin;
  display: flex;
  top: 0px;
  z-index: -1;
}

.title__doble {
  text-align: center;
  margin: 500px 0;
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
}

.img__first {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 70vh;
}

.block__second-container {
  margin-top: 180px;
}

.about {
  text-align: center;
  margin: 120px auto;

  font-weight: 600;
  color: #222222;
}

.wideoframe {
  border-radius: 0px;
  width: 50% !important;
}
.about-title {
  width: 250px;
}

.block__width {
  position: relative;
  height: 800px;
}
.pull__image {
  position: absolute;
  width: 600px;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;

  opacity: 0.4;
}
.about__wrapper {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 80px auto 0;
}
.about__wrapper-float {
  display: block;
  max-width: 1200px;

  margin: 80px auto 0;
}

.calendar__wrapper {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 80px auto 0;
}

.calendar {
  margin: 0 auto;
}

.text__wrapper {
  width: 50%;
}
.text__width p {
  margin: 0 auto;
  margin-right: 30px;
  padding-right: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 33px;
  /* or 26px */
  color: #707070;
}
.text__width {
  margin: 0 auto;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 33px;
  /* or 26px */
  color: #707070;
}
.text__width-right {
  margin: 0 auto;
  margin-left: 30px;
  padding-left: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 33px;
  /* or 26px */
  color: #707070;
}

.sales__price {
  display: flex;
  max-width: 1200px;
  /* height: 660px; */
  margin: 0 auto;
  justify-content: space-between;
}
.price__item ul {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #707070;
}

.price__text {
  display: list-item;
  list-style-type: circle;
  font-size: clamp(16px, 2vw, 20px);
  text-align: start;
  color: #707070;
}

.price__item {
  background: #eaf4fe;
  border-radius: 8px;
  padding: 45px;
  width: 345px;
  transition: 0.3s;
}

.price__item:hover {
  transform: scale(1.05);
  /* color: #fff; */
  /* background-color: #eda477; */
  font-size: 22px;
  transition: 0.3s;
}

.price__time {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.price__euro {
  font-size: 42px;
  line-height: 60px;
  text-align: center;
}
.text__img {
  width: 50%;
  object-fit: contain;
}
.text__img-review {
  width: 50%;
  object-fit: contain;
}

.anchor__top {
  padding-bottom: 80px;
}
.chapter {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #414a58;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.bigchapter {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 0px;
  /* identical to box height, or 143% */
  letter-spacing: 0;
  font-family: "Lato", sans-serif;

  /* text */

  color: #21252c;
}

.test__unit-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test__unit-block {
  width: 50%;
  padding-left: 30px;
  margin-left: 30px;
}

.test__unit-text {
  margin: 0 auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 33px;
  /* or 26px */
  color: #707070;
}

#myVideo {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  right: -9999px;
  top: 0;
  left: -9999px;
  margin: auto;
  width: 100%;
  height: 100%;
  min-height: 850px;
}
.text__about {
  margin: 20px auto 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142%;
  /* or 26px */
  color: #707070;
}
.image__about {
  width: 100%;
  height: auto;
}

.image__corporate {
  margin-bottom: 200px !important;
}
.image__float {
  width: 600px;
  margin: 0 0 30px 30px;
  height: auto;
  float: right;
}

.image__float-left,
.image__online-left {
  width: 600px;
  margin: 0 30px 30px 0;
  float: left;
}

.image__float-about {
  float: left;
  width: 50%;
  margin-right: 2.5vw;
}

.image__float-right {
  float: left;
  width: 50%;
  margin-left: 2.5vw;
  margin-bottom: 2.5vw;
}

.image__about-form {
  width: 100%;
  border-radius: 32px;
}

.video__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.sales__wrapper {
  width: 100%;
}

.g-form__input-wrapper_hidden {
  display: none;
  overflow: hidden;
}

.g-form__inputs {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 120px;
  padding: 64px;
  /* border: 1px solid dimgray; */
  border-radius: 8px;
  background-color: #eaf4fe;
  align-items: center;
}

.g-form__title_respond {
  color: #0a0c6c !important;
  margin: 0 auto;
  text-align: center;
}

.g-form__input-wrapper {
  /* height: 80px; */
  margin-bottom: 10px;
  border: none;
}

.g-form__container {
  width: 50%;
}

.tel-email__wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.g-form__input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(105, 105, 105, 0.205);
  width: 80%;
  padding-left: 15px;
  margin-bottom: 20px;
}
.g-form__button-wrapper {
  margin: 40px auto 40px;
}

.g-form__button {
  width: 220px;
  height: 45px;
  left: 1257px;
  top: 22px;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border: #dddddd 1px solid;
  color: dimgray;
  font-size: 18px;
}
.input__text {
  font-size: 16px;
  color: dimgray;
  margin-bottom: 10px;
}

.input__text-mark {
  font-size: 14px;
  color: dimgray;
  padding-right: 30px;
}

#tel {
  width: 100%;
  padding-left: 15px;
  border: 1px solid rgba(105, 105, 105, 0.205);
}

#email {
  height: 40px;
  padding-left: 15px;
  border-radius: 8px;
  /* width: 80%; */
  border: 1px solid rgba(105, 105, 105, 0.205);
}
#nickinstagram {
  padding-left: 15px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid rgba(105, 105, 105, 0.205);
}
#message {
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid rgba(105, 105, 105, 0.205);
}

textarea {
  resize: none;
  width: 80%;
}

.form__picture {
  width: 50%;
  object-fit: contain;
}

.footer__wrapper {
  width: 100%;
  background-color: #eaf4fe;
  height: 80px;
  border: none;
}

.nav-footer {
  font-size: 16px;
  color: #0a0c6c;
  margin-top: -4px;
}

.mail-to {
  font-size: 16px;
  color: #0a0c6c;
}
.mail-to:hover {
  border-bottom: #0a0c6c 1px solid;
}

.nav-active {
  border-bottom: #0a0c6c 1px solid;
}

.nav-footer:hover {
  border-bottom: 1px solid #0a0c6c;
}

.footer__container {
  padding-top: 15px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mybutton {
  box-shadow: inset 0px 0px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 2px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 33px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  margin: 60px 45%;
}
.mybutton:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
.mybutton:active {
  position: relative;
  top: 1px;
}

.rights,
.rights-footer {
  color: #0a0c6c;
}

/*Start Dropdown
/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
/*stop dropdown*/

.swiper-container {
  width: 600px;
  height: 300px;
}

.review__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.swiper__wrapper {
  width: 50%;
}

@media screen and (max-width: 1440px) {
  .about__wrapper {
    margin: 80px 9vw 0;
  }
  .about__wrapper-float {
    max-width: 1200px;
    margin: 80px 9vw 0;
  }
  .image__float-left {
    width: 50%;
    margin: 0 2.5vw 30px 0;
  }
  .image__corporate {
    display: none;
  }

  .swiper__wrapper {
    width: 50%;
  }
  .review__wrapper {
    margin: 0 9vw;
  }

  .avatar__wrapper {
    margin-top: 0;
  }

  .test__unit-wrapper {
    margin: 0 9vw;
  }

  .sales__price {
    margin: 0 9vw;
  }
  .price__item {
    background: #eaf4fe;
    border-radius: 24px;
    padding: 35px;
    width: 23vw;
    transition: 0.3s;
  }
  .g-form__inputs {
    margin: 0 9vw 120px;
    padding: 5vw;
  }
  .text__online-wrapper {
    margin: 0 9vw;
  }
  .image__float {
    width: 50%;
  }
  .image__online-left {
    width: 50%;
    margin: 0 2.5vw 30px 0;
  }
}
@media screen and (max-width: 1240px) {
  .text__img-review {
    display: none;
  }
  .swiper__wrapper {
    width: 100%;
  }
  .test__unit-wrapper {
    margin: 0 6vw;
  }

  .sales__price {
    flex-direction: column;
    align-items: center;
  }
  .price__item {
    width: 50%;
  }
  .price__item:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .form__picture {
    display: none;
  }
  .g-form__input {
    width: 100%;
  }
  .g-form__container {
    width: 100%;
  }
  .tel-email__wrapper {
    width: 100%;
  }
  #tel {
    width: 250px;
  }

  #email {
    width: 250px;
  }
  #nickinstagram {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 64px;
    padding-top: 40px;
  }
  h2 {
    font-size: 36px;
    font-weight: 400 !important;
  }
  .bigchapter {
    font-size: 36px;
    font-weight: 400 !important;
  }
  .about__wrapper,
  .about__wrapper-float {
    margin: 80px 5vw 0;
  }
  .text__online-wrapper {
    margin: 0 5vw;
  }

  .title__screen {
    background-position-x: 45%;
    background-size: cover;
    background-position-y: bottom;
  }
  .image__about {
    width: 100%;

    height: auto;
  }
  .wideoframe {
    height: 250px;
  }
  .footer__wrapper {
    width: 100%;
    background-color: #eaf4fe;
    height: 200px;
    border: none;
  }
  .footer__container {
    flex-direction: column;
  }
  .nav__footer-menu {
    padding-top: 15px;
  }
  .rights-footer {
    padding-top: 15px;
    color: #0a0c6c;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100vw;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }
  .nav__footer-menu {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .nav-item__footer {
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
  }
  .footer__wrapper {
    height: 380px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-left: 150px;
  }
  .title__screen {
    background-position-x: center;
    background-image: url(images/title-mobile.jpg);
  }
  h1 {
    font-size: 64px;
    padding-top: 9vh;
    margin: 0 auto;
    max-width: 360px;
  }
  .price__item {
    width: 315px;
  }
  #tel {
    width: 100%;
  }

  #email {
    width: 100%;
  }
}

@media screen and (max-width: 508px) {
  .nav-logo {
    display: none;
  }
  .hamburger {
    padding-left: 30px;
  }
  .image__online-left {
    float: none;
    width: 110vw;
    margin-right: -5vw;
    margin-left: -5vw;
  }

  h1 {
    font-size: 48px;
    max-width: 300px;
    line-height: 78px;
  }
  h2 {
    font-size: 32px;
  }
  .social__icon {
    width: 25px;
  }
  .image__float {
    float: none;
    width: 115%;
    margin: 0 -5vw;
  }
  .nav__footer-menu {
    display: flex;
    flex-direction: column;
  }
  .footer__wrapper {
    height: 380px;
  }
  .nav-item__footer {
    padding-bottom: 10px;
  }
  .image__float-about {
    float: none;
    width: 110vw;
    margin-right: -5vw;
    margin-left: -5vw;
  }
  .image__float-right {
    float: none !important;
    width: 110vw;
    margin-left: -8vw;
    margin-bottom: 5vw;
  }
  .image__corporate {
    display: inline;
    width: 110vw;
    float: none !important;
    margin-left: -5vw;
    margin-right: -5vw;
    margin-bottom: 20px !important;
    height: 70vw;
  }
  .about__wrapper,
  .about__wrapper-float {
    margin: 50px 5vw 0;
  }
  .about {
    margin: 50px auto;
  }
  .test__unit-wrapper {
    flex-direction: column;
  }
  .wideoframe {
    width: 100% !important;
    height: 200px;
    margin-bottom: 40px;
  }
  .test__unit-block {
    width: 100%;
    padding-left: 2.5vw;
    margin-left: 2.5vw;
  }
  .tel-email__wrapper {
    display: inline;
  }
  .g-form__inputs {
    margin: 0 10px 40px;
    padding: 2.5vw;
  }
  .g-form__button-wrapper {
    margin: 40px auto 40px;
    width: 220px;
  }
  .input__text-mark {
    padding-right: 10px;
  }
  #email {
    margin-bottom: 10px;
  }
}
